<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name = ".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.foodapp.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.foodapp.CustomOrder"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.foodapp.MainActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"  />
        <activity android:name="com.example.foodapp.ChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            />
        <activity android:name="com.example.foodapp.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            />
        <activity android:name="com.example.foodapp.RestaurantActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Dark"
            />
    </application>

</manifest>